<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<% if @status == "cart" %>
<!--================Cart Area =================-->
<%= render 'orders/cart' %>
<!--================End Cart Area =================-->


<% elsif %>
<!--================Each Product in Specific Order Details Area =================-->
<%= render 'orders/product_details' %>
<!--================End Each Product in Specific Order Details Area =================-->
<% end %>

<script>
  $(document).ready(function(){
    $("form#apply_coupon").on('ajax:success', function(event, data, status, xhr) {
       let quantity=document.getElementById("discount")
    //    quantity.value=event.detail[0]
        quantity.innerHTML = event.detail[0]
        alert("coupon applied"+event.detail[0])
        console.log(event.detail[0])

    });
    $("form#apply_coupon").on('ajax:error', function(event, xhr, status, error) {
      alert("some thing happened wrong please try later");
    });

    // .... 
  })
</script>