<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
  <div class="container">
    <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
      <div class="col-first">
        <h1>Product Details Page</h1>
        <nav class="d-flex align-items-center">
          <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
          <a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
          <a href="single-product.html">product-details</a>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->

<!--================Single Product Area =================-->
<%= render 'products/single_product' %>
<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
<%= render 'products/product_desc' %>

<%=form_tag("/products/#{@product.id}/addToCart", remote: true, 'data-type' => :json) do%>
   <%= submit_tag("add to cart ") %>
<%end%>
<script>
  $(document).ready(function(){
    $("form#addToCart").on('ajax:success', function(event, data, status, xhr) {
       let quantity=document.getElementById("sst")
       quantity.value=event.detail[0]
    });

    $("form#addToCart").on('ajax:error', function(event, xhr, status, error) {
     //location.reload();
    });

    // .... 
  })
</script>
<!--================End Product Description Area =================-->

